:root {
  /* ### Primary colors*/

  --Green--500: hsl(163, 72%, 41%);
  --Red--500: hsl(356, 69%, 56%);

  --Blue--600--fb: hsl(208, 92%, 53%);
  --Blue--500--twt: hsl(203, 89%, 53%);
  --lGradient--Ig: hsl(37, 97%, 70%), hsl(5, 77%, 71%), hsl(329, 70%, 58%);
  --Red--700--YT: hsl(348, 97%, 39%);

  /* #### Dark Theme */

  --Lgradient--Toggle: hsl(210, 79%, 56%), hsl(146, 68%, 55%);

  /* #### Light Theme */

  --Gray--400--Toggle: hsl(230, 22%, 74%);

  /* ### Neutral */

  /* #### Dark Theme */

  --Gray--950--BG: hsl(230, 17%, 14%);
  --Gray--900--Top--BG--Pattern: hsl(232, 19%, 15%);
  --Navy--950--Card--BG: hsl(228, 28%, 20%);
  --Gray--400--Text: hsl(230, 22%, 74%);
  --White--Text: hsl(0, 100%, 100%);

  /* #### Light Theme */

  --White--BG: hsl(0, 100%, 100%);
  --Blue--50--Top--BG--Pattern: hsl(225, 100%, 98%);
  --Navy--50--Card--BG: hsl(227, 47%, 96%);
  --Gray--650--Text: hsl(228, 12%, 44%);
  --Gray--950--Text: hsl(230, 17%, 14%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-dashboard {
  width: 100%;
  background-color: var(--Blue--50--Top--BG--Pattern);
  padding-top: 94px;
  padding-bottom: 160px;
}
.wrapper {
  width: 100%;
  max-width: 1110px;
  /* border: 2px solid red; */
  margin: 0 auto;
  position: relative;
}

.top-dashboard > .wrapper {
  /* border: 10px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  > .heading {
    /* border: 1px solid red; */
    > h1 {
      color: black;
    }
  }
}

.toggle-btn {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-box {
  /* border: 2px solid rgb(255, 238, 0); */
  width: 3.5rem;
  padding: 0.2rem 0.2rem;
  background-color: var(--Gray--400--Toggle);
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
}
.btn-box:hover {
  background: linear-gradient(var(--Lgradient--Toggle));
}

.btn-circle {
  width: 18px;
  height: 18px;
  background-color: var(--White--BG);
  border-radius: 1rem;
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/*analytics grid */

/* .social-media-analytics > .wrapper {
} */

.analytics-grid {
  /* border: 10px solid forestgreen; */
  display: grid;
  /* width: 100%; */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  position: absolute;
  top: -7rem;
}



.social-analytics-box {
  background-color: var(--Navy--50--Card--BG);
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  /* box-shadow: 0.1rem 0.2rem 0.2rem black; */

  > .user-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  > .user-followers-count {
    text-align: center;
    > h2 {
      font-size: 3rem;
    }
    > p {
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }

  > .user-followers-today {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  cursor: pointer;
}
.user-name {
  font-weight: 700;
  color: var(--Gray--650--Text);
}
.stat-count {
  font-weight: 700;
  color: var(--Gray--950--Text);
}
.social-analytics-box:hover {
  background-color: hsl(232, 33%, 91%);
}

.social-analytics-fb::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--Blue--600--fb);
  position: absolute;
  top: 0;
  left: 0;
}

.social-analytics-twt::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--Blue--500--twt);
  position: absolute;
  top: 0;
  left: 0;
}

.social-analytics-ig::before {
  content: "";
  width: 100%;
  height: 5px;
  background: linear-gradient(var(--lGradient--Ig));
  position: absolute;
  top: 0;
  left: 0;
}

.social-analytics-yt::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--Red--700--YT);
  position: absolute;
  top: 0;
  left: 0;
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

.overview-today {
  margin-top: 10rem;
  padding-bottom: 1rem;

  > .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.overview-box {
  background-color: var(--Navy--50--Card--BG);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  /* box-shadow: .01rem .01rem .01rem black; */
}

.overview-box:hover {
  background-color: hsl(232, 33%, 91%);
}

.overview-grid-1,
.overview-grid-2 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
}
.sub-grid-1 {
  /* border: 2px solid rgb(10, 23, 170); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-grid-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .inPercent {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    > span > img {
      display: block;
    }
  }
}

.overview-headings {
  color: var(--Gray--650--Text);
  font-weight: 700;
}

.overview-stat {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

.stat-up {
  color: var(--Green--500);
  text-transform: capitalize;
}
.stat-down {
  color: var(--Red--500);
  text-transform: capitalize;
}
.section-heading {
  color: var(--Gray--650--Text);
}
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* when button toggle to dark and light */
.btn-box.active {
  transition: 0.6s ease;
  justify-content: left;
  background: linear-gradient(var(--Lgradient--Toggle));
}

body.active {
  /* transition: 0.3s ease-in-out; */
  background-color: var(--Gray--950--BG);
}

.top-dashboard.active {
  background-color: var(--Gray--900--Top--BG--Pattern);
  h1 {
    color: var(--White--Text);
  }
  p {
    color: var(--Gray--400--Text);
  }
}

.btn-circle.active {
  background-color: var(--Gray--950--BG);
}

.social-analytics-box.active {
  background-color: var(--Navy--950--Card--BG);
  > .user-followers-count {
    > h2 {
      color: var(--White--Text);
    }

    > p {
      color: var(--Gray--650--Text);
    }
  }
}

.section-heading.active {
  color: var(--White--Text) !important;
}

.overview-box.active {
  background-color: var(--Navy--950--Card--BG);
}

.overview-headings.active {
  color: var(--Gray--400--Text);
}

.overview-stat.active {
  color: var(--White--Text);
}

.social-analytics-box.active:hover,
.overview-box.active:hover {
  transition: 0.3s ease;
  background-color: hsl(228, 26%, 27%);
}

/* when button toggle to dark and light */

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */

/* mobile view */
/* ---------------------------------- */

@media screen and (max-width:680px) {

  .top-dashboard{
    padding-bottom: 4rem;
    .wrapper{
      display: flex;
      flex-direction: column;
      padding: 0;
      gap:1.5rem;

      >.heading,>.toggle-btn{
        width: 100%;
      }

      >.toggle-btn{
        border-top: 1px solid var(--Gray--900--Top--BG--Pattern);
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  
}




@media screen and (max-width:820px) {

  .analytics-grid{
    top:-2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr) ;
    width: 100%;
  }

  .overview-today{
    margin-top: 57rem;
  }
  .overview-grid-1,.overview-grid-2{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr) ;
    width: 100%;
  }

}




@media screen and (max-width: 1220px) {
  .top-dashboard>.wrapper{
      padding: 0 1rem;
  }
  .analytics-grid{
    padding: 0 1rem;
  }
  .section-heading{
    /* padding: 0 1rem; */
  }
  .overview-grid-1,.overview-grid-2{
    padding: 0 1rem;
  }
  .overview-today>.wrapper>.section-heading{
    /* border: 2px solid red; */
    padding: 0 1rem;
  }
}



/* ---------------------------------- */